.item {
    background: #34A853 !important;
    background: #34A853 radial-gradient(circle  at bottom right, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.36) 25%, rgba(255,255,255,0.3) 25%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, rgba(255,255,255,0.1) 75%, rgba(255,255,255,0.1) 90%, rgba(255,255,255,0) 100%) !important;
    display: flex;
    padding: 40px;
    border-radius: 15px;
    flex-direction: row;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
    justify-content: space-between;
    align-items: center;
    color: #fff;
    gap: 50px;
    &:hover .image {
        transform: scale(1);
    }
}

.text {
    width: 100%;
}

.content {
    display: flex;
    gap: 50px;
}

.head {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: fit-content;
    margin-bottom: 25px;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 52px;
    font-weight: bold;
}

.body {
    width: 100%;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 32px;
    text-align: justify;
}

@media screen and (max-width: 1280px) {
    .content {
        flex-direction: column;
    }
}
@media screen and (max-width: 920px) {
    .head {
        font-size: 32px;
    }
    .body {
        font-size: 24px;
    }
}
